body{
	background-color: Khaki;
}
h1{
	color:DarkSlateGrey;
	padding: 12px;
	border:5px double DarkSlateGrey;
	margin:10px;
}
p{
	display: none;
	color:DarkSlateGrey;
}
#showanswer{
	display: none;
}
#next{
	display: none;
}